<% let i =  0;%>

<% infos.records.forEach((elm) => { %>

    <% if (elm.p === 'http://www.ontoFood.fr/entre_dans_la_preparation_de') {%>

        <% if (i%3 === 0) { %>

            <% if (i === 0) { %>

            <ul class="list-unstyled mb-0">

                <a class="badge bg-individual text-decoration-none link-light" style="font-size: 12px;;" href="/global_details/<%=elm.lb1%>"><%= elm.lb1 %> </a>

                <% } else { %>

            </ul>

            <ul class="list-unstyled mb-0">

                <a class="badge bg-individual  text-decoration-none link-light" href="/global_details/<%=elm.lb1%>"><%= elm.lb1 %> </a>

    <% } %>

    <%} else { %>

              <a class="badge bg-individual  text-decoration-none link-light" href="/global_details/<%=elm.lb1%>"><%= elm.lb1 %> </a>

              <%}%>

                <% i++;}%>


                <% })%>

                %>

            </ul>
