<%- include('./header')%>

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1"> <%= entity.getLabel() %></h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">
                    
                        <% if (entity.isClass) { %>

                            <span> Classe , avec des relations hierarchiques </span>

                         
                        <% }else{ %>

                            <span>Individual , avec des relations de types </span>


                    <!-- Post categories-->

                    <%entity.getTypes().forEach(type => {%>

                    <a class="badge bg-secondary text-decoration-none link-light"  href="/global_details/<%=type%>"><%= type %> </a>

                    <% })%>

                    <%}%>
                    </div>



                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">

                    <% entity.getComments().forEach(comment => {%>

                          <p class="fs-5 mb-4 lead"><b> <%= comment.comment %> </b> </p>

                   <%})%>

                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Entrez  un fait par rapport à cette entité"></textarea></form>
                        <!-- Comment with nested comments-->
                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">


                                
                            </div>
                        </div>
                      
                    </div>
                </div>
            </section>
        </div>

        <!-- Side widgets-->
        <div class="col-lg-4">


            <% entity.getViews().forEach(view => {%>

                <div class="card mb-4">
                    <div class="card-header"> <%= view.title %></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <%- include('individuals', {view: view}); %>
                            </div>
                        </div>
                    </div>
                </div>

              <%})%>

        </div>
    </div>
</div>


<%- include('./footer')%>
