<%- include('./header')%>

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1"> <%= entity.getLabel() %></h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">
                    
                        <% if (entity.isClass) { %>

                            <span> Classe , avec des relations hierarchiques </span>

                         
                        <% }else{ %>

                            <span>Individual , avec des relations de types </span>

                            <br>

                    <!-- Post categories-->

                    <%entity.getTypes().forEach(type => {%>

                    <a class="badge bg-secondary text-decoration-none link-light"  href="/entity/get/<%=type%>"><%= type %> </a>

                    <% })%>

                    <%}%>
                    </div>



                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="<%= entity.getImage() %>" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">

                
                    <% let commentsConcat = "" %>

                    <% entity.getComments().forEach(comment => {
                         
                        commentsConcat =  commentsConcat.concat(comment.comment + " ");

                   })%>

                   <p class="fs-5 mb-4 lead font-italic" style="margin-left: 8px;"><small> <%= commentsConcat %> </small> </p>


                </section>



            <div class="col-lg-12">

                <%- include('facts') %> 

            </div>


            <div class="col-lg-12" style="margin-top: 50px;">

                <%- include('comments') %> 

            </div>


            
            <div class="card bg-light col-lg-12" style="margin-bottom: 15px; margin-top: 50px;">
                    
                <div class="card-body">

                        <!-- Comment form-->
                    <form class="mb-4" method="POST" action="/entity/add/comment_fact">
                        
                        
                        <textarea name="text_enter" class="form-control" rows="3" placeholder="Entrez  un fait ou un commentaire par rapport à <%= entity.getLabel() %> "></textarea> <br>

                    
                        <input hidden  type="text" name="uri" value="<%= entity.getURI() %>">

                        <input hidden  type="text" name="label" value="<%= entity.getLabel() %>">



                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="choice_checkbox" id="fact_checkbox" value="fact">
                            <label class="form-check-label" for="fact_checkbox">Fait</label>
                          </div>
                          
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="choice_checkbox" id="comment_checkbox" value="comment">
                            <label class="form-check-label" for="comment_checkbox">Commentaire</label>
                          </div>

                          <br><br>

                          <button class="btn btn-sm btn-success" type="submit">Valider</button>

                        
                        </form>
                       
                     </div>

           </div>
            </article>
            
        </div>


        <!-- Side widgets-->
        <div class="col-lg-4">


            <% entity.getViews().forEach(view => {%>

                <div class="card mb-4">
                    <div class="card-header"> <%= view.title %></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <%- include('details', {view: view}); %>
                            </div>
                        </div>
                    </div>
                </div>

              <%})%>
                
        </div>

</div>

</div>
