<% let i =  0;%>

<% infos.records.forEach((elm) => { %>

    <% if (elm.p === 'http://www.w3.org/2000/01/rdf-schema#subClassOf' && elm.lb1 != label) { %>

        <% if (i%3 === 0) { %>

            <% if (i === 0) { %>

            <ul class="list-unstyled mb-0">

                <a class="badge bg-dark text-decoration-none link-light" href="/global_details/<%=elm.lb1%>"><%= elm.lb1 %> </a>

                <% } else { %>

            </ul>

            <ul class="list-unstyled mb-0">

                <a class="badge bg-dark  text-decoration-none link-light" href="/global_details/<%=elm.lb1%>"><%= elm.lb1 %> </a>

                <% } %>

                <%} else { %>

                    <a class="badge bg-secondary  text-decoration-none link-light" href="/global_details/<%=elm.lb1%>"><%= elm.lb1 %> </a>

                <%}%>

                <% i++;}%>


                <%})%>

                %>

            </ul>
