<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Classes</h2>
        <p class="lead"> Ils peuplent notre base de connaissance, vous aussi vous le pouvez!!</p>
        <%
          let i = 0;
          while (i < pm.records.length){
              if (i%4 == 0){
                  if(i != 0){ %>
                         </div>
                  <%}%>

                            <div class="row gx-4 gx-lg-8 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" style="margin-top:15px;">
                                <div class="col mb-6">
                                    <div class="card h-100">
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder"><button class="btn btn-success" type="submit"> <%= pm.records[i].label %>
                                                        <span class="badge bg-dark text-white ms-1 rounded-pill"><%= pm.records[i].num_indi%></span></button></h5>

                                                <p>   </p>

                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center">
                                                <a class="btn btn-outline-dark mt-auto" href="#">Add Item </a>
                                                <a class="btn btn-outline-dark mt-auto" href="/global_details/<%= pm.records[i].label %>">View List </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>  <%} else { %>

                                    <div class="col mb-6">
                                        <div class="card h-100">
                                            <!-- Product details-->
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <!-- Product name-->
                                                    <h5 class="fw-bolder"><button class="btn btn-success" type="submit"> <%= pm.records[i].label %>
                                                            <span class="badge bg-dark text-white ms-1 rounded-pill"><%= pm.records[i].num_indi%></span></button></h5>

                                                    <p>   </p>

                                                </div>
                                            </div>
                                            <!-- Product actions-->
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center">
                                                    <a class="btn btn-outline-dark mt-auto" href="#">Add Item </a>
                                                    <a class="btn btn-outline-dark mt-auto" href="/global_details/<%= pm.records[i].label %>">View List </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <%} i ++ ;}%>
                            </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
                  </section>
